@import "./globalsVarabiles.scss";
.home {
  @include flex(row, space-between, center, "");
  padding: 1rem 2rem;
  margin: 0 auto;
  > * {
    width: 50%;
    padding: 1rem;
  }
  .left {
    @include flex(column, space-evenly, "", 2rem);
    h1 {
      font-size: 5rem;
      background-image: linear-gradient(to bottom, #585757, #fff);
      background-clip: text;
      color: transparent;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .right {
    @include flex(column, center, center, "");
    position: relative;
    img {
      animation: fly 7s ease-in-out infinite;

      @keyframes fly {
        0% {
          transform: translateY(-10%);
        }

        50% {
          transform: translateY(10%);
        }
        100% {
          transform: translateY(-10%);
        }
      }
    }
  }
  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    font-size: 16px;
    > * {
      width: 100%;
    }
    .left {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
    .right {
      img {
        height: 200px;
      }
    }
  }
}
