.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 1rem;
}
.catTitle {
  color: rgb(10, 150, 10);
}
.item {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.subitem {
  width: 45%;
  height: 100%;
  position: relative;
}
.subitem:nth-child(2) {
  padding: 1rem 0 0 2rem;
}

.item:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.subitem .title {
  margin: 1rem 0;
}
.top {
  display: flex;
}
.galleryLink {
  font-size: 2rem;
}

.galleryLink::after {
  content: " - ";
}
