@import "../../styles/globalsVarabiles.scss";

.postShow {
  @include flex(column, "", center);
  padding: 20px;
  width: 200px;
  height: fit-content;
  border: 1px solid rgb(148, 125, 125);
  gap: 1rem;
  .title {
    font-size: 16px;
    font-weight: bold;
  }
  img {
    width: 80px;
    height: 60px;
  }

  .description {
    font-size: 12px;
  }
  .content {
    font-size: 11px;
  }
  .author {
    font-style: italic;
  }
  .btns {
    @include flex(row, space-between, center, 1rem);

    .btn {
      padding: 10px 20px;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      &.edit {
        background-color: #007bff;

        &:hover {
          background-color: #0056b3;
        }
        &:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
        }
      }
      &.delete {
        background-color: #ff0800;
        &:hover {
          background-color: #cc4100;
        }
        &:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5);
        }
      }
    }
  }
}
