* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;

  font-size: 1rem;
}
body {
  max-width: 1024px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  font-weight: bold;
}
.theme {
  transition: 1s ease-in-out all;
}
.theme.dark:not(a.card, .btn) {
  background-color: black;
  color: white;
}
.theme.light:not(a.card, .btn) {
  background-color: white;
  color: #111;
}

/* contact input */
.theme.light .input {
  color: black !important;
}
/* protoflio h2  */

a.card h2 {
  color: white;
}
.backLayer {
  position: fixed;
  background-color: inherit !important;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.Globalheight {
  height: 80vh;
}
