.container {
  display: flex;
  align-items: center;
  gap: 100px;
  min-height: 80vh;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
}

.item h1 {
  font-size: 2rem;
  background-image: linear-gradient(to bottom, #585757, #fff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  width: 250px;
  line-height: 3rem;
}
.item img {
  object-fit: contain;
  animation: hero 3s ease-in-out infinite;
}

@keyframes hero {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.container *,
.container {
  height: 100%;
}
@media screen and (max-width: 576px) {
  .item {
    width: 100%;
  }

  .item h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .img {
    display: none;
  }
}
